/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #6EC8C8;
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-decoration: none;
}

.user_nav {
  background:black;
  margin:0px;
  padding:10px;
  height:30px;
}

.nav_message {
  float:right;
  top:5px;
  position:relative;
}

.nav_actions {
  text-align:left;
  top:5px;
  position:relative;
}

.nav_error {
  margin: 0 auto;
  color: red;
  text-align: center;
  top:-15px;
  position:relative;
  width: 50%;
}


.content {
  padding: 10px;
}
h1 {
  color: #337D70;
  margin: 3px;
}
.button {
  background: #83B640;
  border: 2px solid;
  border-radius: 25px;
  padding: 10px;
  color: white;
  position: relative;
  top: 10px;
  margin: 10px;
}
a {
  text-decoration: none;
  color: #83B640;
}

.horiz-rule {
  height: 1px;
  background-color: #337D70;
  width: 80%;
  margin: 20px auto;
}
.form-container {
  position: relative;
  top: 20px;
}
.new_user {
  margin: 20px;
}
.field input {
  border: 2px solid;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  outline: 0;
}

